
.Inicio{
    background-image: url(../Imagenes/f5.jpg);
    height: 35rem;
    background-size: cover;
    position: relative;
    margin-top: -2rem;
}
.ConteN{
    padding: 0 10px 10px 10px;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(350px,1fr));
    grid-gap: 20px 40px;

}
.Nike{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.548);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.Nike h1{
    color: rgba(0, 255, 157, 0.76);
    font-size: 5rem;
}
/*.columna{
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content:center;
    margin: 3rem;
}



/*.catalogo{
    display:flex;
    flex-direction: flex;
    align-items: center;
    justify-content: space-around;
}
.tenis{
    background-color: rgba(160, 77, 77, 0.418);
    width: 25rem;
    height: 50rem;
    padding: 5rem 1rem;
    border-radius: 10px;
    text-align: center;
    justify-items: center;
   

}

.imagen{
    width: 20rem;
    height: 20rem;
    border-radius: 10px;
}
.des-ten{
    font-size: 1.3rem;

}
.son{/*
    box-shadow: -2px 1px 39px 15px rgba(10,10,10,0.68);
    -webkit-box-shadow: -2px 1px 39px 15px rgba(10,10,10,0.68);
    -moz-box-shadow: -2px 1px 39px 15px rgba(10,10,10,0.68);
    padding: 2rem;
    border-radius: 1rem;
}
@media (min-width:768px) {
    .ConteN{
        display: grid;
        grid-template-columns: repeat(3,2fr);
        column-gap: 1rem;
    }
}*/


.tenis{
    display: grid;
    position: relative;
    border-radius: 15px;
    box-shadow: -2px 1px 39px 15px rgba(165, 162, 162, 0.68);
}
.tenis img{
    position: relative;
    width: 100%;
    height: 70%;
    border-radius: 15px;
}
.des{ 
    padding: 5px 5px;
    display: grid;   

}
.interior{ 
    display: grid;
    grid-template-columns: auto auto;
}
.interior h3{
    font-weight: 600;
    font-size: 20px;
}
.precio{
    text-align: right;
}
.des p{
    color:rgba(0, 255, 255, 0.63);
    font-size: 18px;
    font-weight: 400;
}
.des button{
    background: rebeccapurple;
    color: white;
    font-size: 17px;
    font-weight: 700;
    border-radius: 18px 0px;
    
}
