h1{
    color:rgb(0, 0, 0);
    font-size: 2.5rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
#Banner img{
    width: 100%;
    height: 50%;
}
#Banner .Conte {
    text-align: center;

}h2{
    color: black;
    text-align: center;
    font-size: 2rem;
    background: rgb(0, 0, 0);
    background-image: linear-gradient(90deg, rgba(61, 61, 58, 0.847) 0%, rgba(66, 65, 61, 0.9) 54%, rgba(227, 231, 231, 0.799) 100%);
}
.description-teni{
    color: rgb(247, 228, 228);
    font-size: 1.2rem;
    font-weight: 600;
}
.descrip{
    color: black;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
}
.tenis_image{
    width: 25rem;
    height: 25rem;
}
html{
    box-sizing: border-box;
    font-size: 62.5%; /*1rem - 10px*/
}
h3{
    font-size: 2rem;
    font-weight: 600;
    color: bisque;
}
.ten{
    background: rgb(57,57,57);
    background: linear-gradient(90deg, rgba(57,57,57,0.9139005944174545) 31%, rgba(0,0,0,0.7990546560421043) 45%, rgba(6,5,5,0.9167017148656338) 69%);
    width: 28rem;
    margin-left: 8rem;
    text-align: center;
    height: 56.5rem;
}
.col{
    display: block;
    float: left;
    margin: 1rem 0 0 1rem;
}
.h2{
    margin-top: 650px;
}
.price{
    color: rgb(237, 238, 238);
    margin: 0;
    float: left;
    font-size: 2rem;
}