#Nav{
    background-color: rgb(2, 53, 53);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#Acceso{   
    margin-left: 750px;
    padding-right: 15px;
}
ul li { display: inline-block; zoom: 1; *display: inline;padding-left: 15px; color: white;}

a{
    text-decoration: none;
    pointer-events: painted;
    color: white;
}
html{
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem - 10px*/
}
*,*:before, *:after{
    box-sizing: border-box;
}
h1{
    color:rgb(0, 0, 0);
    font-size: 2.5rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
body{
    font-size: 1.6rem;
    font-family: Georgia, 'Times New Roman', Times, serif; font-weight: 400;
    background: rgb(144, 144, 150);
}
