.content{
    background: linear-gradient(to top,#312d80ad 70%, transparent);
}

.tallas, .colors, .canti{
    background-color: rgb(242, 252, 193);
}
.tallas:hover, .colors:hover, .canti:hover{
    background-color: rgb(7, 255, 197);
    color: black;
}
.container{
    background-color: rgba(26, 46, 41, 0.725);
}
.sub-text{
    font-weight: bold;
    color: rgba(240, 248, 255, 0.879);
}
.sub-text span{
    color: rgba(240, 248, 255, 0.879);
}
.text{
    font-size: 1.5rem;
    color: rgba(0, 250, 250, 0.908);
}
.contenedor-tenis{
    background-color: rgba(159, 255, 75, 0.388);
}